h1 {
    color:darkred;
    background-color:#77b300;

    /* To change font size:border:

    font-size: xx-small; 
    or
    font-size: 300px;
    */
}
ul {
    color: rgb(21, 189, 231);
}

p {
    background-color:#800000;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}
/*
    h1 {
        color: lightcoral;
        background-color: chocolate; #d1b3ff
    }